/* elmentui css start */
.text {
    font-size: 14px;
  }
  .item {
    margin-bottom: 18px;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both;
  }
  /* .box-card {
    width: 100%;
  } */
  /*  elementui css end*/
  .box {
    margin: 15px 7px;
  }
  .title{
    font-size: 14px;
    line-height: 35px;
    color: #555
  }